<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function validateForm() {
            var imageInput = document.getElementById("image-input");
            if (imageInput.files.length === 0) {
                alert("Please select an image before predicting emotion.");
                return false;
            }
            return true;
        }
    </script>
</head>
<body>
    <div class="background-container">
        <div class="content-wrapper">
            <h1>Emotion Detection</h1>
            <div class="button-panel">
                <form action="/predict" method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
                    <input type="file" id="image-input" name="image" accept="image/*">
                    <input type="submit" value="Predict Emotion">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
